*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}
